k/tst2/ConsumirSvc/Connected Services/ServiceReference1/ServicoAluno2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50804/ServicoAluno.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lab07" />
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Lab07" minOccurs="0" name="student" nillable="true" type="q1:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlunos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showPerformance" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlunosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Lab07" minOccurs="0" name="GetAlunosResult" nillable="true" type="q2:ArrayOfAluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>