k/tst2/ConsumirSvc/Connected Services/ServiceReference1/ServicoAluno.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicoAluno" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50804/ServicoAluno.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50804/ServicoAluno.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50804/ServicoAluno.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lab07" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicoAluno_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IServicoAluno_GetAlunos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlunos" />
  </wsdl:message>
  <wsdl:message name="IServicoAluno_GetAlunos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlunosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicoAluno">
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoAluno/AddStudent" message="tns:IServicoAluno_AddStudent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlunos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoAluno/GetAlunos" message="tns:IServicoAluno_GetAlunos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoAluno/GetAlunosResponse" message="tns:IServicoAluno_GetAlunos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicoAluno" type="tns:IServicoAluno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IServicoAluno/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAlunos">
      <soap:operation soapAction="http://tempuri.org/IServicoAluno/GetAlunos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoAluno">
    <wsdl:port name="BasicHttpBinding_IServicoAluno" binding="tns:BasicHttpBinding_IServicoAluno">
      <soap:address location="http://localhost:50804/ServicoAluno.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>