GTIAspNet/WebForms/WebForms/Connected Services/ClientServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1165/ClientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1165/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1165/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import schemaLocation="http://localhost:1165/ClientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:1165/ClientService.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IClientService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IClientService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IClientService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClienteRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteRecords" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClienteRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_SearchClient_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_SearchClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetCep_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCep" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetCep_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCepResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/Insert" message="tns:IClientService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/InsertResponse" message="tns:IClientService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/Update" message="tns:IClientService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/UpdateResponse" message="tns:IClientService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/Delete" message="tns:IClientService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/DeleteResponse" message="tns:IClientService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetInfo" message="tns:IClientService_GetInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetInfoResponse" message="tns:IClientService_GetInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetClienteRecords" message="tns:IClientService_GetClienteRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetClienteRecordsResponse" message="tns:IClientService_GetClienteRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/SearchClient" message="tns:IClientService_SearchClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/SearchClientResponse" message="tns:IClientService_SearchClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCep">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetCep" message="tns:IClientService_GetCep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetCepResponse" message="tns:IClientService_GetCep_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IClientService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IClientService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IClientService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteRecords">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetClienteRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/SearchClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCep">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetCep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost:1165/ClientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>